:root {
    --color-blanco-body: #f3f5f6;
    --color-azul-oscuro: #1e2d7d;
    --color-gris-letra: #959da2;
    --color-gris-bordes: #babfd7;
    --color-blanco: #ffffff;
    --color-celeste: #00badb;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    color: var(--color-gris-letra);
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    background-color: var(--color-blanco-body);
}
i {
    color: var(--color-blanco);
}
/* --- --- NAVBAR --- --- */
.header {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;

    background-color: var(--color-azul-oscuro);
    border-bottom: 0.3px solid var(--color-gris-bordes);
}
.navigation {
    width: 94%;
    margin: auto;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-azul-oscuro);
    color: var(--color-blanco-icon);
}
.navigation__logo { /* logo */
    flex-basis: 11%;
    min-width: 141.234px;
}
.navigation__logo img {
    max-width: 100%;
    display: block;
}
.navigation__search { /* buscador */
    flex-basis: 60%;
    flex-shrink: 3;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-search__input {
    place-self: stretch center;

    width: 90%;
    padding: 12px 0 12px 15px;

    font-size: 15px;

    outline: none;
    border: none;
}
.navigation-search__cont-icon {
    place-self: stretch center;

    padding: 12px;

    background-color: var(--color-celeste);
}
.navigation-search__cont-icon i {
    font-size: 23px;
}
.navigation__user { /* user */
    flex-basis: 23%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 19px;

    color: var(--color-blanco);
}
.navigation-user__account p a {
    color: var(--color-blanco);
}
.navigation-user__cart a {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-blanco);
}
.navigation-user__cart i {
    font-size: 25px;
    margin: 0 10px 0 0;
}
.navigation-user__icon-user { /* boton user / none */
    display: none;
    font-size: 25px;
}
.navigation-user__icon-cart { /* boton cart / none */
    display: none;
    font-size: 25px;
}
#button-menu-links { /* boton menu / none */
    display: none;
}
.button-menu-links__label {
    display: none;
    padding: 0 13px;
    font-size: 20px;
}
#button-search { /* boton buscar / none */
    display: none;
}
.navigation__icon-search {
    display: none;
}
.button-search__label i {
    font-size: 23px;
}
.navigation__search--responsive { /* buscador responsive */
    width: 95%;
    margin: auto;
    padding: 15px 0;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-azul-oscuro);

    display: none;
}

/* --- --- LINKS NAVBAR --- --- */
.navigation-links {
    width: 100%;
    padding: 23px 0;

    background-color: var(--color-blanco);
    color: var(--color-gris-letra);
}
.navigation-links__ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navigation-links__ul li {
    margin: 0 0 0 46px;
}
.navigation-links__ul li a {
    transition: color 0.2s ease-in;
}
.navigation-links__ul li a:hover {
    color: var(--color-celeste);
}

/* --- --- PRODUCTOS GRID --- --- */
main {
    width: 100%;
    margin: 135px 0 0 0;
}
.product-grid {
    width: 90%;
    margin: 0 auto 45px auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
    place-items: center center;
}
.product-grid__cont-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.product-grid__cont-img img {
    width: 100%;
    height: 100%;
    display: block;

    object-fit: cover;
    object-position: center center;

    transition: all 2s ease-out;
}
.product-grid__cont-img img:hover {
    transform: scale(1.03);
}

/* --- --- ALGUNOS PRODUCTOS --- --- */
.some-products-page-grid {
    width: 100%;
    margin: 0 0 50px 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}
.some-products-grid__products { /* productos */
    width: 100%;
    padding: 15px 0;

    background-color: #00afdd;
}
.some-products__cont-cards { /* cards */
    width: 95%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;

    background-color: var(--color-blanco);
}
.some-products__card { /* card */
    width: 100%;
    padding: 12px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.some-products-card__cont-img {
    width: 90%;
    margin: 0 0 20px 0;

    align-self: center;
}
.some-products-card__cont-img img {
    max-width: 100%;
    display: block;
}
.some-products-card-cont-text__name {
    color: var(--color-azul-oscuro);
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 10px 13px;
}
.some-products-card-cont-text__price {
    color: var(--color-celeste);
    font-size: 21px;
    margin: 0 0 0 13px;
}
.some-products-grid__cont-text { /* textos */
    background-color: #00afdd;
    color: var(--color-blanco);

    padding: 45px 15px 15px 15px;
}
.some-products-cont-text__tittle {
    font-size: 23px;
    font-weight: 600;
    margin: 0 0 20px 0;
}
.some-products-grid-con-text__description {
    line-height: 2;
    margin: 0 0 24px 0;
}
.some-products-grid-con-text__button {
    padding: 10px 35px;
    border: none;
    font-size: 17px;
    background-color: #ff6bca;
    color: var(--color-blanco);
    outline: none;

    transition: all 0.3s linear;
}
.some-products-grid-con-text__button:hover {
    box-shadow: 0.5px 0.5px 1px 1px rgb(93, 92, 92);
}

/* --- --- ALGUNOS PRODUCTOS --- --- *//* modificaciones */
.--color-rojo-zenkaiger {
    background-color: #e6312d;
}
.--color-amarillo-zenkaiger {
    background-color: #ffd002;
}

/* --- --- PRODUCTO PRINCIPAL --- --- */
.product-main {
    width: 100%;
    margin: 0 0 50px 0;

    border: 1px solid var(--color-gris-letra);
}
.product-main__cont-text-view { /* textos */
    width: 100%;
    margin: 0 0 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-main-cont-text-view__tittle {
    margin: 0 0 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-azul-oscuro);
}
.product-main-cont-text__more {
    margin: 0 20px 0 0;
}
.product-main-cont-text__more a {
    color: var(--color-celeste);
}
.product-main__cont-img { /* producto */
    max-width: 100%;
    padding: 5% 3%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.product-main__cont-img img {
    max-width: 100%;
    display: block;
}
/*--- textos ---*/
.product-main__cont-text {
    padding: 3%;
}
.product-main-cont-text-tittle__h4 {
    font-size: 20px;
    line-height: 2.5;
    color: var(--color-azul-oscuro);
}
.product-main-cont-text-tittle__release {
    color: var(--color-gris-letra);
}
.main-text-tittle-release-text {
    margin: 0 0 10px 0;
}
.product-main-cont-text-tittle__release b {
    color: var(--color-gris-letra);
}
.product-main-cont-text-tittle__release {
    color: var(--color-azul-oscuro);
}
.product-main-cont-text-tittle__release ul {
    margin: 0 0 35px 0;
    padding: 0 0 0 16px;
}
.product-main-cont-text__line { /* linea */
    margin: 0 0 30px 0;
    color: var(--color-gris-bordes);
}
/* product textos */
.product-main-cont-text-details__p { /* parrafo */
    color: var(--color-gris-letra);
    line-height: 1.5;
    margin: 0 0 30px 0;
}
.product-main-cont-text-details__price {
    width: 40%;
    max-width: 180px;
    margin: 0 0 30px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-main-cont-text-details-price__text {
    color: var(--color-azul-oscuro);
    font-size: 15px;
    font-weight: 600;
}
.product-main-cont-text-details__number {
    font-size: 23px;
    color: var(--color-celeste);
}
.product-main-cont-text-details__buttons { /* botones */
    width: 100%;
    margin: 0 0 30px 0;
}
.product-main-cont-text-details__button-add button {
    width: 100%;
    padding: 15px 0;
    border: none;
    background-color: var(--color-celeste);
    color: var(--color-blanco);
    font-size: 16px;
    font-weight: 600;

    margin: 0 0 15px 0;
}
.product-main-cont-text-details__button-buy button {
    width: 100%;
    padding: 15px 0;
    border: none;
    background-color: var(--color-azul-oscuro);
    color: var(--color-blanco);
    font-size: 16px;
    font-weight: 600;
}
.product-main-cont-text-details__share { /* compartir */
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-cont-text-details-share__text {
    font-size: 15px;
    font-weight: bold;
    color: var(--color-azul-oscuro);
}
.main-cont-text-details-share__redes {
    flex-basis: 130px;
    display: flex;
    justify-content: space-between;
}
.cont-facebook {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    transition: background 0.3s ease-in;
}
.cont-facebook:hover {
    background-color: #3b5998;
}
.cont-twitter {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    transition: background 0.3s ease-in;
}
.cont-twitter:hover {
    background-color: #00acee;
}
.cont-instagram {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    transition: background 0.3s ease-in;
}
.cont-instagram:hover {
    background-color: #f4b517;
}

/*--- --- FOOTER --- ---*//* change */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-azul-oscuro);
}
/*OCULTAR P*/
.footer p {
    display: none;
}
/* FOOTER__IMG */
.footer__cont-logo {
    flex-basis: 35%;
    max-width: 200px;
}
.footer__cont-logo img {
    max-width: 100%;
    display: block;
}
/* FOOTER__REDES */ 
.footer__cont-redes {
    flex-basis: 30%;
    max-width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__cont-redes p {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;

    color: #4fa8c8;
}
.footer-cont-redes__i {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/* FOOTER__PAYMENT */
.footer__cont-payment {
    flex-basis: 30%;
    max-width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__cont-payment p {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;

    color: #4fa8c8;
}
.footer-cont-payment__i {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer-cont-payment__i i {
    font-size: 22px;
}
.cont-paypal {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    transition: background 0.3s ease-in;
}
.cont-visa {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    transition: background 0.3s ease-in;
}
.cont-mastercard {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    transition: background 0.3s ease-in;
}


/* --- --- RESPONSIVE --- --- */
/* --- RESPONSIVE 980PX --- *//* responsive design */
@media screen and (max-width: 980px) {
    /* --- NAVBAR --- */
    .navigation__logo {
        margin: 0 20px 0 0;
    }
    /* --- BOTONES ---- */
    .navigation__user {
        flex-basis: 13%;
        min-width: 108.375px;

        justify-content: space-evenly;
    }
    .navigation-user__icon-user { /* boton user */
        display: block;
    }
    .navigation-user__account {
        display: none;
    }
    .navigation-user__cart { /* boton cart */
        display: none;
    }
    .navigation-user__icon-cart {
        display: block;
    }
    /* --- MENU DESPLEGABLE --- */
    .navigation-links {
        display: none;

        width: 100%;
        padding: 0;
    }
    .navigation-links__ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    } 
    .navigation-links__ul li {
        margin: 0 0 0 30px;
        padding: 25px 0;
    } 
    .button-menu-links__label { /* boton */
        display: block;
    }
    #button-menu-links:checked ~ .navigation-links {
        display: block;
    }
}

/* --- RESPONSIVE 980PX --- *//* mobile first */
@media screen and (min-width: 980px) {
    /* --- --- PRODUCTOS GRID --- --- */
    .product-grid {
        width: 90%;
        margin: 240px auto 50px auto; /* margin-top / detalle importante no funcionaba en el main */
    
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 0;
        place-items: center center;
    }
    .product-grid__cont-img {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .product-grid__cont-img img {
        width: 100%;
        height: 100%;
        display: block;
    
        object-fit: contain;
        object-position: center center;
    
        transition: all 2s ease-out;
    }
    /* celdas */
    .product-grid__cont-img {
        width: 97%;
        height: 97%;
    }
    .product-grid__cont-img:nth-child(2) {
        width: 100%;
        height: 100%;

        grid-column: 2/3;
        grid-row: 1/3;
    }
    .product-grid__cont-img:first-child {
        place-self: start start;
    }
    .product-grid__cont-img:nth-child(3) {
        place-self: start end;
    }
    .product-grid__cont-img:nth-child(4) {
        place-self: end start;
    }
    .product-grid__cont-img:last-child {
        place-self: end end;
    }
    /* --- ALGUNOS PRODUCTOS --- */
    .some-products-page-grid {
        width: 100%;
    
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-auto-flow: dense;
    }
    .some-products-grid__cont-text {
        grid-column: 2/3;
    }
    .some-products-grid__products {
        grid-column: 1/2;
    }
    /* --- PRODUCT MAIN --- */
    .product-main {
        display: flex;
    }
    .product-main__cont-img {
        flex-basis: 50%;
    }
    .product-main__cont-text {
        flex-basis: 50%;
    }
    .product-main-cont-text-details__p {
        margin: 0 0 80px 0;
    }
    /*FOOTER__P*//* change */
    .footer {
        justify-content: space-around;
    }
    .footer p {
        display: block;
    }
}

/* --- RESPONSIVE 650PX --- *//* responsive design */
@media screen and (max-width: 650px) {
    .navigation__search {
        display: none;
    }
    .navigation__icon-search {
        display: block;
    }
    #button-search:checked ~ .navigation__search--responsive {
        display: flex;
    } 
    /* --- NAVBAR --- */
    .navigation {
        padding: 10px 0;
    }
    .navigation__logo { /* logo */
        min-width: 125px;
        margin: 0;
    } 
    .button-menu-links__label {
        flex-basis: 18%;
    }
    .navigation__user {
        flex-basis: 25%;
    }
}
/* --- RESPONSIVE 650PX --- *//* mobile first */
@media screen and (min-width: 651px) {
    /* --- PRODUCTOS GRID --- */
    main {
        margin: 180px 0 0 0;
    }
    /* --- PRODUCT MAIN --- */
    .product-main {
        width: 90%;
        margin: 0 auto 50px auto;
    }
}